@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0; padding: 0;
    position: sticky;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    scroll-behavior: smooth }

.home, .achievements {
    height: 100vh; width: 100%;
    background: linear-gradient(to right bottom, #1569c7, #000) }

.home-data {
    display: block;
    text-align: right }
    
.my-logo {
    max-width: 110px;
    float: left;
    padding-top: 10px }
    
.nav-menu {
    display: flex;
    overflow: hidden }

.nav-menu a {
    padding: 15px;
    text-decoration: none;
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 0 3px hsla(38, 69%, 8%, .2) }
    
.nav-menu a:before {
    content: "";
    position: absolute;
    height: 12px; width: 77%;
    margin-top: 30px;
    border-radius: 25px;
    transform: scaleX(0);
    background: #6E82FE;
    transform-origin: right;
    transition: transform 0.3s ease }

.nav-menu a:hover:before {
    transform: scaleY(1);
    transform-origin: left }

@media screen and (max-width: 1024px) {
    .nav-menu {
        position: fixed;
        top: 0; right: -100%;
        display: flex;
        flex-direction: column;
        row-gap: 48px;
        background-color: hsla(0, 0%, 10%, .3);
        height: 206%; width: 60%;
        padding: 72px 0 0 48px;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px); /* Safari لمتصفح */
        transition: right .4s;  
        z-index: 1 }
    
    .nav-list {
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 48px } }

.nav-list {
    list-style: none;
    display: flex }

.nav-link:before {
    content: "";
    position: absolute;
    height: 12px; width: 100%;
    margin-top: 30px;
    border-radius: 25px;
    transform: scaleX(0);
    background: #6E82FE;
    transform-origin: right;
    transition: transform 0.3s ease;
    z-index: -1 }
    
.nav-link:hover:before {
    transform: scaleY(1);
    transform-origin: left }

.nav-close, .nav-toggle {
    display: flex;
    font-size: 20px;
    color: #FFF;
    cursor: pointer }

.nav-close {
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: 24px;
    color: #FFF;
    cursor: pointer }

@media screen and (min-width: 1440px) {
    .nav-list { margin-right: -15px }

    .nav-toggle, .nav-close {
        display: none } }

.show-menu { right: 0 }

.home-title {
    font-weight: 700;
    float: right;
    color: #FFF }
    
span {
    color: #6E82FE }

.home-text {
    font-size: 20px;
    font-weight: 500;
    margin-top: 170px;
    color: #FFF;
    line-height: 35px }

.quote {
    font-weight: 500;
    margin-top: 35px;
    color: #FFF }

.programming-logo {
    max-width: 350px;
    left: 80px;
    float: left;
    margin-top: -110px;
    z-index: -1;
    animation: programming-logo-float 2s infinite alternate }

.programming-logo-shadow {
    width: 235px; height: 32px;
    background-color: hsla(38, 69%, 8%, .2);
    float: left;
    border-radius: 50%;
    filter: blur(7px);
    animation: programming-logo-shadow 2s infinite alternate }
    
@keyframes programming-logo-float {
    0% {
        transform: translateY(0) }
    100% {
        transform: translateY(15px) } }
    
@keyframes programming-logo-shadow {
    0% {
        transform: scale(1, 1) }
    100% {
        transform: scale(1, 1.5) } }

@media screen and (max-width: 321px) {
    .about-me-cards, .services-cards { margin-right: -10px} 

    .achievements { height: 50vh } }

@media screen and (max-width: 376px) {
    .home-data, .about-me-data, .services-data, .works-data, .achievements-data, .contact-data { padding: 20px }

    footer { padding: 10px }

    .my-logo {
        margin-top: -20px;
        max-width: 80px }

    .home-title {
        font-size: 25px; 
        margin-top: 55px }

    .about-me-title1, .services-title, .works-title, .contact-title, .achievements-title { font-size: 25px }

    .about-me-title1::after {
        margin-top: 20px;
        height: 15px; width: 13% }

    .home-text {
        display: block;
        font-size: 20px;
        margin-top: 190px }

    .quote { 
        font-size: 18px;
        margin-top: 25px }

    .programming-logo {
        max-width: 180px; 
        margin-top: 0; left: -80px }
    
    .programming-logo-shadow { margin-top: 195px; margin-left: -195px }

    .about-me-title2 { font-size: 19px } 
    
    .about-me-text { 
        font-size: 16px;
        line-height: 26px }

    .about-me-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 30px;
        row-gap: 25px;
        padding: 40px 0 60px }

    .about-me-card h2 span { font-size: 20px }

    .about-me-card h2 span::after { height: 5px; width: 0 }

    .services-title::after {
        margin-top: 20px;
        height: 15px; width: 26% }

    .services-note { font-size: 16px }

    .services-cards {
        padding-top: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) }

    .services-card-content { padding: 5px }

    .services-card-content h2 { font-size: 20px }

    .services-card-content pre { 
        font-size: 13.5px;
        line-height: 25px }
    
    .works-title::after, .achievements-title::after, .contact-title::after {
        margin-top: 20px;
        height: 15px; width: 22% } 
    
    .slider-wrapper { margin-top: 20px }

    .slider img {
        max-width: max-content;
        object-fit: contain }

    .slide-caption h2 { font-size: 17.5px }

    .achievements { height: 35vh; width: 100% }

    .achievements-card { margin-top: 25px }

    .achievements-card-content p { font-size: 18px }

    .contact-url { font-size: 16px }

    .contact-message-title { font-size: 14px }

    .my-logo-footer img { max-width: 40px }

    .my-logo-footer h2, .footer-left h1 { font-size: 20px }

    .footer-left, .copy-right { padding-top: 20px }

    .footer-left a { 
        font-size: 15px;
        line-height: 25px }
   
    .footer-left a::before {
        margin-top: 15px;
        height: 5px; width: 60% } }

@media screen and (min-width: 424px) {
    .home-data, .about-me-data, .services-data, .works-data, .contact-data, .achievements-data { padding: 20px }

    footer { padding: 10px }

    .home-title {
        font-size: 25px;
        margin-top: 55px }

    .quote { font-size: 18px }

    .programming-logo { 
        max-width: 180px;
        margin-top: 0; left: -80px }

    .about-me-title1, .services-title, .works-title, .contact-title, .achievements-title { font-size: 25px }

    .about-me-title1::after {
        margin-top: 20px;
        height: 15px; width: 11% }

    .about-me-card h2 span::after { height: 5px; width: 0 }

    .my-logo-footer img { max-width: 50px }

    .about-me-cards { padding: 0 }

    .about-me-card { padding-top: 25px } 

    .services { height: 60vh }

    .services-title::after {
        margin-top: 20px;
        height: 15px; width: 20% }

    .services-note { font-size: 16px }

    .services-cards { padding-top: 25px }

    .works-title::after, .achievements-title::after, .contact-title::after {
        margin-top: 20px;
        height: 15px; width: 18% }
        
    .works { height: 50vh }

    .slider-wrapper { margin-top: 20px }

    .slider img {
        max-width: max-content;
        object-fit: contain }

    .achievements { height: 35vh }

    .achievements-card { margin-top: 25px }

    .achievements-card-content p { font-size: 20px }

    .footer-left h1 { font-size: 20px } }

@media screen and (min-width: 767px) {
    .home-data, .about-me-data, .services-data, .works-data, .contact-data, .achievements-data { padding: 40px }

    .home-title {
        font-size: 30px;
        margin-top: 120px }

    .programming-logo { max-width: 250px }

    .programming-logo-shadow { margin-top: 260px; margin-left: -240px }

    .about-me-title1, .services-title, .works-title, .contact-title, .achievements-title { font-size: 35px }

    .about-me-title2 { font-size: 22px }

    .about-me-text { font-size: 20px }

    .about-me-title1::after {width: 9% }

    .services { height: 65vh }

    .services-title::after { width: 15% }

    .works { height: 85vh }

    .works-title::after, .achievements-title::after, .contact-title::after { width: 14.5% }
    
    .achievements { height: 45vh }

    .my-logo-footer {
        display: flex;
        align-items: center }

    footer { padding: 20px 120px } }

@media screen and (min-width: 1023px) {
    .programming-logo {
        margin-top: -100px;
        max-width: 320px }

    .programming-logo-shadow { margin-top: 230px; margin-left: -280px }

    .about-me-title1::after { width: 6.5% }

    .about-me-cards { row-gap: 0 }

    .services { height: 75vh }

    .services-title::after { width: 11% }

    .services-note, .services-card-content h2 { font-size: 20px }

    .services-cards {
        display: inline-grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        padding-right: 240px }

    .services-card-content { padding: 10px }

    .works { height: 90vh }

    .works-title::after, .achievements-title::after, .contact-title::after { width: 10.5% }

    .slider-container { margin-right: 85px }

    .slider-wrapper { max-width: 760px }

    footer { padding: 20px 220px } }

@media screen and (min-width: 1439px) {
    .home-data, .about-me-data, .services-data, .works-data, .contact-data, .achievements-data { padding: 40px 80px }

    footer { padding: 40px 0 }

    .home-title, .about-me-title1, .services-title, .works-title, .contact-title, .achievements-title { font-size: 40px }

    .home-title { margin-top: 100px }

    .programming-logo {
        max-width: 350px;
        left: 80px; margin-top: -110px }

    .programming-logo-shadow {
        margin-top: 265px;
        margin-left: -295px }

    .about-me-title1::after {
        margin-top: 40px;
        height: 15px; width: 4.6% } 
    
    .about-me-title2 { font-size: 23px }

    .about-me-text { 
        font-size: 21px;
        line-height: 35px;
        margin-top: 10px }
    
    .about-me-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 30px;
        row-gap: 120px;
        padding: 40px 0 60px }

    .about-me-card h2 span { font-size: 30px }

    .about-me-card h2 span::after { height: 7px; width: 0 }

    .about-me-card-content { height: 265px }

    .services { height: 65vh }

    .services-title::after {
        margin-top: 40px;
        height: 15px; width: 8.6% }

    .services-cards {
        padding: 35px 0 120px;
        display: inline-grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        padding-right: 140px }

    .services-card-content {
        height: 215px;
        text-align: center;
        padding: 10px }

    .services-card-content h2 { font-size: 30px }

    .services-card-content pre { 
        font-size: 20px;
        line-height: 35px }

    .works { height: 100vh; width: 100% }
    
    .works-title::after, .achievements-title::after, .contact-title::after {
        margin-top: 40px;
        height: 15px; width: 7.6% } 
    
    .slider-container { padding: 48px }

    .slider-wrapper { 
        max-width: 960px;
        margin: 0 auto }

    .slider img {
        max-width: 960px;
        object-fit: cover }

    .slide-caption h1, .slide-caption a { font-size: 25px }

    .slide-caption h2 { font-size: 35px }

    .achievements { height: 55vh; width: 100% }

    .achievements-card { padding: 40px 60px }

    .achievements-card-content { height: 215px }

    .achievements-card-content p { font-size: 25px }

    .contact-url { font-size: 24px }
    
    .contact-message-title { font-size: 22px }

    .footer-content {
        display: grid;
        justify-content: space-around }

    .my-logo-footer img { max-width: 60px }

    .my-logo-footer h2, .footer-left h1 { font-size: 30px }

    .footer-left a { 
        font-size: 25px;
        line-height: 40px }
    
    .footer-left a::before {
        margin-top: 25px;
        height: 12px; width: 95% }

    .footer-url a, .copy-right p { font-size: 20px }

    .copy-right { padding-top: 40px } }

.about-me { background: linear-gradient(to right top, #1569c7, #000) }

.about-me-data {
    display: block;
    text-align: right }

.about-me-title1, .about-me-title1::after, .services-title, .services-title::after, .works-title, .works-title::after, .achievements-title, .achievements-title::after, .contact-title, .contact-title::after {
    color: #FFF;
    font-weight: 700;
    text-shadow: 0 0 3px hsla(38, 69%, 8%, .2) ;
    display: flex;
    justify-content: center;
    align-items: center }

.about-me-title1::after {
    content: "";
    position: absolute;
    background-color: #6E82FE;
    border-radius: 25px;
    z-index: -1 }

.about-me-title2 {
    font-weight: 500;
    margin-top: 30px;
    color: #FFF }

.about-me-text {
    font-weight: 400;
    color: #FFF;
    text-align: justify }

.about-me-cards {
    display: grid;
    color: #FFF }

.about-me-card {
    transition: transform 0.5s }

.about-me-card:hover {
    transform: translateY(-20px) }

.about-me-card:hover h2 span::after {
    width: 100px;
    left: calc(50% - 50px) }

.about-me-card-content {
    background-color: #1a1a1a;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    top: 0;
    box-shadow: 0px 4px 15px 2px rgb(0 0 0 / 25%) }

.about-me-card-content h2 span {
    margin: 0;
    position: relative;
    color: #FFF;
    font-weight: 500 }

.about-me-card-content h2 span::after {
    content: "";
    position: absolute;
    left: 50%; bottom: -7px;
    background-color :#6E82FE;
    transition: all 0.5s;
    border-radius: 10px }

.small-img {
    margin-top: 15px;
    display: block }

.small-img img {
    width: 40px;
    margin: 5px 10px 5px 10px }

.soon {
    font-size: 17.5px;
    color: #FFF;
    font-weight: 500;
    margin-top: 10px }

.services { 
    width: 100%;
    background: linear-gradient(to right bottom, #1569c7, #000) }

.services-data {
    display: block;
    text-align: right }

.services-note {
    margin-top: 20px;
    font-weight: 600;
    color: #FFF }

.services-title::after {
    content: "";
    position: absolute;
    background-color: #6E82FE;
    border-radius: 25px;
    z-index: -1 }

.services-cards { color: #FFF }

.services-card {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s }

.services-card:hover {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px) }

.services-card-content {
    background-color: #1a1a1a;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 4px 15px 2px rgb(0 0 0 / 25%) }

.services-card-content h2 {
    margin: 0;
    position: relative;
    color: #FFF;
    font-weight: 500 }

.services-card-content pre {
    font-weight: 400;
    text-align: right }

.services-card-content span { color: #FDD017 }

.works {
    background: linear-gradient(to right top, #1569c7, #000) }
    
.works-data {
    display: block;
    text-align: right }
    
.works-title::after {
    content: "";
    position: absolute;
    background-color: #6E82FE;
    border-radius: 25px;
    z-index: -1 }
    
.slider-wrapper { position: relative }
    
.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 24px 48px 12px hsla(38, 69%, 8%, .2);
    border-radius: 8px;
    -ms-overflow-style: none; /* IEو Edge لمتصفحي */
    scrollbar-width: none /* Firefox لمتصفح */ }
    
.slider::-webkit-scrollbar { display: none } /* Chrome ،Safari ،Opera لمتصفح */
    
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    filter: contrast(0.5) }

.slide {
    display: flex;
    position: relative }
    
.slide-caption {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
    text-shadow: 0 0 5px #000 }
    
.slide-caption h1 {
    font-weight: 600;
    margin-bottom: 5px }
    
.slide-caption h2 { 
    font-weight: 400;
    margin-bottom: 5px }

.slide-caption a {
    color: #FFF;
    text-decoration: none }
    
.slider-nav {
    display: flex;
    column-gap: 16px;
    position: absolute;
    bottom: 20px; left: 50%;
    transform: translateX(-50%);
    z-index: 1 }
    
.slider-nav a {
    height: 8px; width: 8px;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 0.75;
    transition: opacity ease 250ms }
    
.slider-nav a:hover { opacity: 1 }    

.achievements-title::after {
    content: "";
    position: absolute;
    background-color: #6E82FE;
    border-radius: 25px;
    z-index: -1 }

.achievements-card {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s }
    
.achievements-card:hover {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px) }
    
.achievements-card-content {
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 4px 15px 2px rgb(0 0 0 / 25%) }
    
.achievements-card-content p { font-weight: 500 }

.achievements-card-content span { color: #FDD017 }

.contact { background: linear-gradient(to right top, #1569c7, #000) }

.contact-data {
    display: block;
    text-align: right }
    
.contact-title::after {
    content: "";
    position: absolute;
    background-color: #6E82FE;
    border-radius: 25px;
    z-index: -1 }

.contact-url, .contact-url a {
    font-weight: 600;
    margin-top: 20px;
    color: #FFF; }

.contact-url a::after {
    content: "";
    position: absolute;
    bottom: -5px; left: 0;
    height: 4px; width: 100%;
    background-color: #6E82FE;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0) }

.contact-url a:hover::after { transform: scaleX(1) }

.contact-message-title {
    font-weight: 600;
    margin-top: 15px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center }

.message-container {
    padding-top: 25px }

.message-form, .message-group {
    display: grid;
    row-gap: 10px }

.message-form {
    position: relative }

.name-input, .email-input, .message-input {
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background-color: #1a1a1a;
    color: hsl(228, 8%, 95%) }

.name-input::placeholder, .email-input::placeholder, .message-input::placeholder {
    color: hsl(228, 8%, 65%) }

.message-input {
    height: 150px;
    resize: none;
    margin-bottom: 10px }

.submit-button {
    justify-self: center;
    cursor: pointer;
    display: inline-block; 
    background-color: #1a1a1a;
    padding: 10px;
    border: 1px solid #1a1a1a;
    border-radius: 8px; 
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 6px 0px #000;
    transition: all .1s }

.submit-button:active {
    box-shadow: 0px 2px 0px #000;
    position: relative;
    top: 2px }

footer { background-color: #1a1a1a }

.footer-content { 
    display: grid;
    grid-template-areas: "a b" "c b" }

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px }

.footer-right { grid-area: a }

.my-logo-footer div {
    display: flex;
    align-items: center }

.my-logo-footer h2 {
    margin-right: 10px;
    font-weight: 600;
    color: #FFF }

.footer-left { grid-area: b }

.footer-url a {
    padding-bottom: 15px;
    font-weight: 500;
    color: #FFF }

.footer-url a::after {
    content: "";
    position: absolute;
    bottom: 0; left: 0;
    height: 4px; width: 100%;
    background-color: #6E82FE;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0) }
    
.footer-url a:hover::after { transform: scaleX(1) }

.copy-right { grid-area: c }

.copy-right p {
    font-weight: 500;
    margin: 0;
    color: #FFF;
    line-height: 35px }

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center }

.footer-left h1 {
    font-weight: 600;
    color: #FFF }

.footer-left a {
    text-decoration: none;
    font-weight: 400;
    color: #FFF;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s }

.footer-left a:before {
    content: "";
    position: absolute;
    border-radius: 25px;
    transform: scaleX(0);
    background: #6E82FE;
    transform-origin: right;
    transition: transform 0.3s ease;
    z-index: -1 }

.footer-left a:hover:before {
    transform: scaleY(1);
    transform-origin: left }

.arrow-up {
    position: fixed;
    bottom: 10px; right: -70px;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s }
        
.show { right: 10px }
        
.arrow-up i {
    color: #FFF;
    font-size: 30px;
    background-color: #6E82FE;
    padding: 10px 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50% }